:root {
    --heading-background-color: #0055A4;
    --body-bg-color: #FFFFFF;
    --accent1-color: #EF4135;
    --accent2-color: #000;
    --text-font: 'Open Sans', sans-serif;
    --heading-font: 'Merriweather', serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
}

header {
    background-color: var(--heading-background-color);
    color: var(--body-bg-color);
    font-family: var(--heading-font);
}

.hero-section {
    width: 100%;
    height: auto;
}

.hero-section picture {
    background-size: cover;
    background-position: center;
}

.hero-img {
    width: 1519px;
    height: 600px;
    object-fit: cover;
    object-position: center;
}

.space {
    background-color: var(--body-bg-color);
    width: 100%;
    height: 1.5rem;
}

.space2 {
    background-color: var(--accent1-color);
    width: 100%;
    height: 1.5rem;
}

.info-section {
    width: 100%;
    font-family: var(--text-font);
}

.country-section {
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: var(--body-bg-color);
    opacity: 0.9;
    padding-top: 1.8rem;
}

.country-title h2 {
    color: white;
}

.country-data {
    width: auto;
    height: auto;
    padding: 2rem 1rem 1rem 2rem;
}

.country-data ul {
    list-style: none;
}

.country-data ul li {
    margin-bottom: 0.9rem;
}

.weather-section {
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: var(--body-bg-color);
    height: auto;
    opacity: 0.9;
    padding-top: 1.6rem;
    margin: 1rem;
}

.weather-title h2 {
    color: white;
}

.weather-title img {
    width: 50px;
    height: 50px;
    transform: translateY(-0.8rem);
}

.weather-data {
    width: auto;
    height: auto;
    padding: 2rem 1rem 1rem 2rem;
}

.weather-data ul {
    list-style: none;
}

.weather-data ul li {
    margin-bottom: 0.9rem;
}

footer {
    width: 100%;
    height: 75px;
    background-color: var(--accent2-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: var(--text-font);
}

@media (max-width:365px) {
    header {
        padding: 1rem 0.7rem 1rem 0.7rem;
    }
}

@media (max-width:617px) {

    header {
        height: 75px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        color: white;
    }

    .hero-img {
        width: 100%;
        height: auto;
    }

    .country-section {
        text-align: center;
    }

    .weather-section {
        text-align: center;
    }

    .weather-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.7rem;
    }

    .country-title h2 {
        color: var(--accent2-color)
    }

    .weather-title h2 {
        color: var(--accent2-color)
    }

}

@media (min-width:617px) {

    header {
        height: 75px;
        width: 100%;
    }

    header h1 {
        color: white;
        text-align: center;
        line-height: 75px;
    }

    .info-section {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0px auto;
        position: absolute;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        z-index: 9;
        transform: translateY(-30rem);
    }

    .weather-title {
        width: auto;
        background-color: var(--accent2-color);
        height: auto;
        display: flex;
        justify-content: space-around;
        padding: 1.2rem 0rem 1.2rem 0.7rem;
        transform: translateX(-10px);
    }

    .country-title {
        width: 87%;
        height: auto;
        transform: translateX(-10px);
        padding: 1.2rem 0rem 1.2rem 0.7rem;
        background-color: var(--accent2-color)
    }

    .country-section {
        transform: translate(1.5rem, -4.2rem)
    }

    .weather-section {
        transform: translate(-1.5rem, 3.2rem);
    }

    .weather-icon {
        display: none;
    }

    .weather-title h2::after {
        content: "⛅ ";
        /* Or another weather-related emoji */
        font-size: 1.5rem;
        margin-left: 0.5rem;
        display: inline-block;
        vertical-align: middle;
    }
}